h1 {
	text-align: center;
	font-family: "Helvetica Neue", san-serif;
	font-size: 60px;
}

.container {
	position: relative;
	width: 1200px;
	background: #6baed6;
}

#data-overview {
	height: 300px;
	margin: 50px auto;
}

svg#pie-chart-categories {
	margin: 30px;
}

svg {
	position: relative;
	margin: auto;
}

.button-container {
	position: relative;
	width: 1200px;
	height: 50px;
	margin: 10px auto;
	background: #4682b4;
	box-shadow: 4px 4px grey;
}

.container .box {
	position: relative;
	width: calc(400px - 30px);
	height: calc(300px - 30px);
	margin: 15px;
	background: #4682b4;
	float: left;
	overflow: hidden;
	border-radius: 10px;
	box-sizing: border-box;
}

.text-box {
	text-align: center;
	margin-top: 60px;
}

.text {
	color: white;
	font-size: 40px;

}

.text-box-large-intro {
	position: relative;
	width: 1200px;
	background: #ff7f0e;
	margin: 15px auto;
	border-radius: 10px;
	text-align: center;
}


.text-box-large {
	position: relative;
	width: 1200px;
	background: #6baed6;
	/*background: #ff7f0e;*/
	margin: 15px auto;
	border-radius: 10px;
	text-align: center;
}

.text-in-box-large {
	color: white;
	font-size: 20px;
	padding: 15px;
}

#text-box-race {
	margin: 15px auto;
	border-radius: 10px;
	text-align: center;
	color: white;
}

.race-details {
	fill: white;
	font-size: 16px;
}

.text-box-large-source {
	position: relative;
	width: 1200px;
	background: #f7fbff;
	/*background: #9ecae1;*/
	/*background: #6baed6;*/
	margin: 15px auto;
	border-radius: 10px;
	text-align: center;
}

.text-in-box-large-source {
	color: white;
	font-size: 16px;
	padding: 15px;
}

.text-explore {
	text-align: center;
	position: absolute;
	margin-left: 10px;
}

path#cases-line {
	stroke: #4682b4;	
}

div.tooltip {
	position: absolute;
	text-align: center;
	padding: 2px;
	font-family: "Helvetica Neue", san-serif;
	font-size: 12px;
	background: #6baed6;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

text {
	font-family: "Helvetica Neue", san-serif;
}

select {
	display: block;
}

.dropdown {
	position: relative;
	width: 1200px;
	height: 30px;
	margin: 10px auto;
	font-family: "Helvetica Neue", san-serif;
}

.lineLegend {
	background: #4682b4;
}
